<!-- <div class="barra-navegacao">
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a href="/inicio">Início</a></li>
        <li class="tab"><a href="/ite../inicio-page/inicio-page.component
        <li class="tab"><a href="/it../item-a-page/item-a-page.component
        <li class="tab"><a href="/it../item-b-page/item-b-page.component
        <li class="tab"><a href="/it../item-c-page/item-c-page.component
        <li class="tab"><a href="/it../item-d-page/item-d-page.component
    </ul>../item-e-page/item-e-page.component
</div> -->
<div class="barra-navegacao">
    <mz-tab [fixedTabWidth]="'true'">
        <mz-tab-item [active]="'true'" [label]="'início'" [href]="'inicio'" [target]="'_self'">
        </mz-tab-item>
        <mz-tab-item [label]="'a'" [href]="'item-a'" [target]="'_self'"></mz-tab-item>
        <mz-tab-item [label]="'b'" [href]="'item-b'" [target]="'_self'"></mz-tab-item>
        <mz-tab-item [label]="'c'" [href]="'item-c'" [target]="'_self'"></mz-tab-item>
        <mz-tab-item [label]="'d'" [href]="'item-d'" [target]="'_self'"></mz-tab-item>
        <mz-tab-item [label]="'e'" [href]="'item-e'" [target]="'_self'"></mz-tab-item>
    </mz-tab>
</div>