<iot-header [titulo]="'Item D'"></iot-header>
<div class="container">
    <div class="row">
        <p class="flow-text">Recupera a lista dos comandos disponíveis para o dispositivo, no formato JSON</p>
    </div>

    <div class="row">
        <div class="center">
            <a class="waves-effect waves-light btn-large pink lighten-1" id="btn-requisitar" (click)="toggleResultado()">Requisitar</a>
        </div>


        <div class="loading center hide" style="margin-top: 15px;">
            <mz-spinner [color]="'blue'" [size]="'small'">
            </mz-spinner>
        </div>

        <div class="resultado hide">
            <iot-card [conteudo]="conteudo"></iot-card>
        </div>

    </div>
</div>